---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import "../styles/style.css";
import "../styles/blogpost.css";
type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, subText } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
			  <div class="prose">
				<div class="blogHeader">
				  <h1>{title}</h1>
			  <div class="authorAndDate">
			  <span>{description}</span>
			  <span>‎ <FormattedDate date={pubDate} /></span>
			  </div>
			  <span class="description">{subText}</span>
				</div>
				<slot class="content" />
			  </div>
			</article>
		  </main>
		<Footer />
	</body>
</html>
