---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import "../styles/blogpost.css";
import "../styles/style.css";
type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, subText } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
			  <div class="prose">
				<div class="title">
				  <div class="date">
					{
					  updatedDate && (
						<div class="last-updated-on">
						  Last updated on <FormattedDate date={updatedDate} />
						</div>
					  )
					}
				  </div>
				  <header class="blogHeadline">{title}</header>
			  <span class="description-line">{description} -	‎ <FormattedDate date={pubDate} /></span>
			  <span class="blogSubhead">{subText}</span>
				</div>
				<slot class="content" />
			  </div>
			</article>
		  </main>
		<Footer />
	</body>
</html>
